*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px;


}

nav i{
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

h1{
    width: 100%;
    padding: 40px;
    font-weight: 500;
}

#center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center p{
    padding: 30px;
}

.right{
    /* background-color: aqua; */
    width: 25%;

}

.elem{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    border-top: 2px solid black;
    
}

.elem a{
    text-decoration: none;
    color: black;
    
}

.elem i{
    opacity: 0;
}

.elem:hover i{
    opacity: 1;
   
}

.img{
    width: 100%;
    height: 33.1%;
    background-image: url(https://images.unsplash.com/photo-1542708993627-b6e5bbae43c4?q=80&w=844&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 70%;


}